* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Salsa", cursive;
  background-color: #F99501;
}


.hero-section {
  /* min-height: 100vh; */
  background-color: #F99501;
  background-image: url('designs/images/orange-backdrop 1.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.jhalar {
  width: 230px;
  margin-bottom: -250px;
}

.paragraph-and-audio {
  margin-left: 15rem;

}

.hero-section p {
  font-size: 46px;
  max-width: 600px;
}

audio::-webkit-media-controls-panel {
  background-color: #fbd8a4;
}

.audio-container {
  max-width: 490px;
  background-color: #fbd8a4;
  border-radius: 45px;
  display: flex;
  padding-left: 20px;
  justify-content: center;
  align-items: center;
}

.deepak {

  width: 100%;
  max-width: 270px;
  margin-left: 1.5rem;
  margin-bottom: 25px;
}

.lakshmi-ganesha-section {
  padding-inline: 1rem;
}

.horizontal-divider {
  width: 100%;
  max-width: 800px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 12px;
  margin-inline: auto;
  padding-top: 10px;
  margin-bottom: 2rem;
}

.horizontal-line {
  background-color: #fbd8a4;
  /* width: 100%; */
  width: 460px;
  height: 2px;


}

.circle {
  width: 10px;
  height: 10px;
  background-color: #fbd8a4;
  border-radius: 50%;
  flex-shrink: 0;
}

.lakshmi-ganesha-image {
  width: 100%;
  max-width: 900px;
  display: block;
  margin-inline: auto;
}

.lakshmi-ganesha-section h2 {
  font-family: "Style Script", cursive;
  font-size: 52px;
  font-weight: 400;
  text-align: center;
  margin-bottom: -5px;
}

.white-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.white-card {
  max-width: 600px;
  background-color: white;
  border-radius: 20px;
  padding: 4rem;

}

.white-card p {
  font-size: 2.1rem;
}

.little-girl {
  max-width: 280px;
  margin-left: -5rem;
}

.lakshmi-ganesha-card {
  background-color: #fff;
  border-radius: 10px;
  padding: 4rem;
  width: 100%;
  max-width: 900px;
  display: flex;
  margin-inline: auto;
}

.lakshmi-ganesha-card img {
  width: 50%;
}

.greetings {
  max-width: 900px;
  margin-inline: auto;
  width: 100%;
}

.greetings h2 {
  font-family: "style script";
  text-align: left;
}

.my-name {
  text-align: right;
}

@media (min-width: 610px) and (max-width: 760px) {
  .playing-music-icon {
    display: none;
  }

  .white-card p {
    font-size: 1.25rem;
  }

  .little-girl {
    max-width: 150px;

  }

  .white-card {
    padding: 2rem;
    max-width: 450px;
  }
}

@media (max-width:610px) {


  .deepak-first {
    display: block;
    margin-left: auto;
  }

  .paragraph-and-audio {
    margin-top: -20px;
    margin-left: 0;
    margin: 10px;
  }

  .jhalar {
    width: 100%;
    max-width: 180px;
    margin-bottom: 0;
  }

  .hero-section p {
    max-width: 400px;
    font-size: 20px;
  }

  .audio-container {
    max-width: 310px;
  }

  .soulful-music,
  .playing-music-icon,
  .deepak-second {
    display: none;
  }

  .horizontal-divider {
    gap: 5px;
  }

  .circle {
    max-width: 5px;
    height: 5px;
  }

  .white-card {
    padding-block: 1rem;
    padding-left: 2rem;
    max-width: 450px;
  }

  .white-card p {
    font-size: 1rem;
  }

  .little-girl {
    max-width: 120px;

  }

  .lakshmi-ganesha-section h2 {
    font-size: 2rem;
  }

  .lakshmi-ganesha-card {
    padding: 1rem;
  }

  .my-name {
    font-size: 12px;
  }
}

@media(max-width:900px)and (min-width:760px) {
  .white-card p {
    font-size: 1.5rem;
  }

  .little-girl {
    max-width: 200px;
  }
}

@media(max-width:300px) {

  .lakshmi-ganesha-card {
    padding: 0.5rem;
  }

  .white-card p {
    font-size: 0.5rem;
  }

  .greetings h2 {
    font-size: 1rem;
  }

  .greetings p {
    font-size: 0.5rem;
  }

  .my-name {
    font-size: 8px;
  }
}