* {
  box-sizing: border-box;
}

body {
  padding: 20px;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: #DFE0E4;
  color: #fff;
}

.container {
  display: grid;
  gap: 2rem;
  margin: 10px;
}

.box:hover {
  transform: scale(1.05);
  transition: 300ms;
}


.intro {
  display: flex;
}

.intro img {
  width: 40px;
  height: 40px;
  border: 2px solid none;
  border-radius: 50px;
  margin-right: 10px;
}

.Daniel {
  border: 2px solid #c4a2f6;
}

.Patrick {
  border: 2px solid #c4a2f6;
}

.name-position {

  display: flex;
  flex-direction: column;

}

.name-position p {
  margin: 0;
}

.box p {
  Font-size: 13px;

}

.box {
  border-radius: 8px;
  padding: 1rem;
  line-height: 1.6rem;
  min-height: 250px;
}

.box-1 {
  background-color: #733FC8;
}

.box-2 {
  background-color: #49556B;
}

.box-3 {
  color: #676d7e;

  background-color: #fff;
}

.box-4 {
  background-color: #191F2D;
}

.box-5 {
  color: #676d7e;
  background-color: #fff;
}

@media (min-width:600px) {
  .container {
    grid-template-columns: repeat(2, 1fr);

  }

  .box-1 {
    grid-column-start: span 2;
  }

  .box-2 {
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .box-3 {
    grid-column-start: 1;
    grid-row-start: 3;
  }

  .box-5 {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 4;
  }

  .box-4 {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column-end: 3;

  }
}

@media (min-width:900px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }

  .box {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    ;
  }

  .box-1 {
    grid-column-start: span 2;
    background-image: url(designs/images/bg-pattern-quotation.svg);
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-position: 400px top;

  }

  .box-2 {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .box-3 {
    grid-column-start: 1;
    grid-row-start: 2;
  }

  .box-4 {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: 4;
  }

  .box-5 {
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 4;
  }
}