* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #DECDAC;
  font-family: sans-serif;
}

button {
  cursor: pointer;
}

.popup {
  display: flex;
  background-color: #FEFAF3;
  width: 100%;
  max-width: 480px;
  height: 230px;
  border-radius: 24px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 4px 4px 0 #00000040;
  padding: 8px;
  /* transform: scale(0); */
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.25s ease-in-out;
}

.open-popup .popup {
  /* transform: scale(1); */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  /* display: block; */
}

.close-icon {
  position: absolute;
  right: 16px;
  top: 10px;
  color: #AFA187;
  font-size: 28px;
  font-weight: 700;
  font-family: serif;
  cursor: pointer;
}

.img-container {
  width: 100%;
  max-width: 149px;
  margin-top: -35px;
  margin-left: 22px;
}

.img-container img {
  width: 100%;
}

.text {
  padding: 18px;
}

.text h1 {
  margin-bottom: 15px;
}
.overlay{
  display: none;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.open-popup .overlay{
  display: block;
}