* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #DECDAC;
  font-family: sans-serif;
}

button {
  cursor: pointer;
}

.card-container {
  background-color: #FEFAF3;
  width: 100%;
  max-width: 380px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container img {
  position: absolute;
  bottom: 13px;
  right: 32px;
}


.card {
  width: 200px;
  height: 50px;
  font-family: 'Heebo', sans-serif;
  background-color: #EBBF53;
  color: #FEFAF3;
  box-shadow: 0 3px 3px 0 #00000040;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.popup-container {
  position: fixed;
  inset: 0;
  pointer-events: none;
}

.popup-container.open-popup {
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
  pointer-events: all;
}

.popup {
  display: flex;
  background-color: #FEFAF3;
  width: 100%;
  max-width: 480px;
  height: 250px;
  border-radius: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 4px 4px 0 #00000040;
  padding: 8px;
  transform: translate(-50%, -50%) scale(0);
  transition: all 0.25s ease-in-out;
}

.open-popup .popup {
  transform: scale(1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  display: flex;
}

.close-icon {
  position: absolute;
  right: 16px;
  top: 10px;
  color: #AFA187;
  font-size: 28px;
  font-weight: 700;
  font-family: serif;
  cursor: pointer;
}

.img-container {
  width: 100%;
  max-width: 149px;
  margin-top: -35px;
  margin-left: 22px;
}

.img-container img {
  width: 100%;
}

.text {
  font-family: 'Inika', sans-serif;
  font-weight: 400;
  padding: 18px;
}

.text h1 {
  margin-bottom: 15px;
}

.input-field {
  display: flex;
  position: absolute;
  height: 30px;
  width: 82%;
  bottom: 45px;
  left: 45px;
}

.subscribe {
  background-color: #EBBF53;
  font-family: Heebo;
  font-size: 16px;
  padding: 10px;
  width: 31%;
  height: 47px;
  margin-left: -89px;
  margin-top: -0.51px;
  border-radius: 0 28px 28px 0;
  border: 1px solid #EBBF53;
  color: #FEFAF3;
  cursor: pointer;
}

input {
  width: 100%;
  border: 1px solid #AFA187;
  border-radius: 28px;
  background-color: #EEE8DD;
  padding: 22px;
}

/* .open-popup .open-popup{
  display: block;
} */