body{
  background-color: #D5E1EF;
  /* min-height: 100vh; */
  font-family: sans-serif;
  text-align: center;
}
.card{
  height: 433px;
  width: 100%;
  max-width: 275px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* inset: 0;
  margin: auto; */
  border-radius: 10px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  padding-bottom: 2rem; 
}
img{
  width: 100%;
  border-radius: 10px;
  
}
h2{
  color: #1f3251;
  font-size: 20px;
}
p{
  color: #68778d;
  font-size: 15px;
}