@import "tailwindcss" ;

@layer utilities{
  .section-container{
    @apply px-6 md:px-12 max-w-[1400px] mx-auto;
  }
   .custom-font{
    @apply md:text-2xl text-xl font-bold leading-7 md:leading-15;
  }
  .custom-para{
    @apply xl:text-lg md:text-base text-[10px] max-w-[180px] xl:max-w-[250px] leading-4 md:leading-6;
  }
}



